# Notification Service Environment Variables
PORT=4005
NODE_ENV=development
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=notification-service
SOCKET_PORT=4005
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=dummy_user
SMTP_PASS=dummy_pass
FROM_EMAIL=notifications@talentsync.ai
